

/*--------Fonts --------DM Sans, --------------  Colors */

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

.block-divider--red {
    background-color: red;
}